footer {
    margin-top: var(--unit-6);
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    border-top: 1px solid;
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: calc(100vw * tan(1deg));
    border-top: 5px solid;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

footer div.bio {
    font-size: var(--unit-3-2);
    line-height: var(--unit-4);
    font-weight: 600;
}

footer h6 {
    text-transform: uppercase;
}

footer nav.urgh-words a {
    margin: var(--unit-1) var(--unit-2);
}

footer nav.urgh-words a:not(:last-child)::after {
    content: ",";
}

footer nav.urgh-words a:last-child::after {
    content: ".";
}

footer nav div {
    margin-bottom: var(--unit-4);
}
footer nav.ooh-pictures {
    margin-top: var(--unit-6);
    margin-bottom: var(--unit-6);
    display: flex;
    flex-flow: row wrap;
}
footer nav.ooh-pictures a {
    display: block;
    flex-grow: 1;
    height: calc(var(--unit-4) * 2);
    width: calc(var(--unit-4) * 2);
}
footer nav.ooh-pictures a svg {
    width: 100%;
    height: 100%;
    display: block;
}

@media (hover: hover) {
    footer nav.urgh-words a:hover,
    footer div.bio a:hover {
        cursor: pointer;
    }
}

@media (min-width: 770px) {
    footer div.footer-content {
        display: grid;
        grid-template-areas:
            "bio words"
            "pictures pictures"
            "colophon colophon";
        /*grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto auto;*/
        gap: var(--unit-4);
        align-items: start;
        max-width: 120ch;
        padding: var(--unit-5);
    }

    footer div.bio {
        font-size: var(--unit-4);
        grid-area: bio;
        max-width: 20ch;
    }
    footer nav.urgh-words {
        grid-area: words;
    }
    footer nav.ooh-pictures {
        grid-area: pictures;
        flex: auto;
    }
    footer div.colophon {
        grid-area: colophon;
    }

    footer nav.ooh-pictures a {
        height: calc(var(--unit-6) * 2);
        width: calc(var(--unit-6) * 2);
    }
}
