@layer layout {
    body {
        min-height: 100dvh;
    }

    body > header,
    body > main,
    body > footer {
        padding: var(--unit-3);
    }

    body > main {
        padding-top: 0;
    }
    body > header,
    body > main,
    .footer-content {
        max-width: 75ch;
    }

    body > main section.page-content {
        padding: var(--unit-4);
        margin: calc(var(--unit-3) * -2);
        margin-top: var(--unit-3);
    }

    @media (min-width: 750px) {
        body > header,
        body > main,
        .footer-content {
            margin-right: var(--unit-6);
        }
        body > main section.page-content {
            padding: var(--unit-4) var(--unit-6) var(--unit-6);
            margin: calc(var(--unit-3) * -2);
            margin-top: var(--unit-2);
        }
    }
}
