/* start post.css */

@layer content {
    header p {
        font-size: var(--unit-3-2);
        line-height: var(--unit-4-3);
        font-weight: 500;
        letter-spacing: -0.5px;
        margin-top: var(--unit-5);
        margin-bottom: var(--unit-4);
        padding: var(--unit-2);
    }
    @media (min-width: 750px) {
        h1.page-title {
            font-size: var(--unit-6);
            letter-spacing: -3px;
            line-height: var(--unit-6);
            margin-bottom: 0;
        }
    }
    @media (min-width: 750px) {
        header p,
        h1.page-title {
            padding-left: var(--unit-4);
        }
    }
    .post-body h1,
    .post-body h2,
    .post-body h3,
    .post-body h4,
    .post-body h5,
    .post-body h6 {
        border-bottom: 1px solid var(--colour-light-3);
    }

    /*index*/
    li.post-card {
        font-weight: 600;
        font-size: var(--unit-3-2);
        margin-bottom: var(--unit-4);
    }
    li.post-card time {
        display: block;
        font-size: var(--unit-2-2);
        padding-left: var(--unit-1);
    }

    /* archive index */
    .archive-year-label,
    .archive-month-label {
        position: sticky;
        top: 0;
        margin: 0;
    }
    .archive-month-label {
        top: var(--unit-3-2);
        padding-bottom: var(--unit-3);
        margin-bottom: var(--unit-3);
    }

    .archive-posts {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    section.archive-year h2,
    section.archive-year h3 {
        font-size: var(--unit-3-2);
        text-transform: uppercase;
    }
    section.archive-year h2 {
        z-index: 10000;
    }
    section.archive-year h3 {
        z-index: 1000;
    }
    @media (min-width: 770px) {
        .archive-year,
        .archive-month {
            display: grid;
            grid-template-columns: 6rem 1fr;
            gap: var(--unit-1);
            align-items: start;
        }
        .archive-month-label {
            top: 0;
            /*padding-bottom: var(--unit-3);
        margin-bottom: var(--unit-3);*/
        }

        section.archive-year h2,
        section.archive-year h3 {
            font-size: var(--unit-4);
            text-transform: uppercase;
        }
    }
}

/* end post.css */
