body {
    font-family: var(--font-base);
    font-size: var(--unit-3);
    line-height: var(--unit-3-2);
}

pre,
pre code {
    font-family: var(--font-code);
}

p a,
li a,
footer nav.urgh-words a {
    text-decoration: none;
    padding-left: var(--unit-1);
    padding-right: var(--unit-1);
}

@media (hover: hover) {
    p a:hover,
    li a:hover {
        background: var(--c-accent-light-6);
        box-shadow: 0 var(--unit-0) var(--colour-dark-0);
    }
}
