<div class="post-layout">
  <article>
    <header>
      <h1>{@post.title}</h1>
      <p>
        {@post.description}
      </p>
    </header>

    <%!-- Post body --%>
    <div class="post-body">
      {raw(@post.html)}
    </div>
  </article>
</div>
