<header>
  <h1 class="page-title">{@post.title}</h1>
  <p>
    {@post.description}
  </p>
</header>
<section class="page-content">
  <article>
    <%!-- Post body --%>
    <div class="post-body">
      {raw(@post.html)}
    </div>
  </article>
</section>
