<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Not Found - Jamie Curle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Inconsolata:wght@500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href={~p"/favicon.ico"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
  </head>
  <body id="error-404" class="crt">
    <div class="not-found">
      <h1><span class="code">404</span></h1>
      <p>This page never existed, doesn't exist any more or won't exist in the future.</p>
      <p class="emoji">🤯</p>
      <p><a href={~p"/"}>RUN AWAY</a></p>
    </div>
  </body>
</html>
