/* the reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

/* tokens */
:root {
  --font-base: "Inter", sans-serif;
  --unit-1: 6px;   /* third */
  --unit-2: 9px;   /* half */
  --unit-2-1: 12px;   
  --unit-2-2: 15px;   
  --unit-3: 18px;  /* base */
  --unit-3-1: 24px;  /* base */
  --unit-3-2: 27px;  /* base */
  --unit-4: 36px;  /* double */
  --unit-5: 54px;  /* triple */
  --unit-6: 72px;  /* quad */

  --line-height-1: 1.333;
  --line-height-2: 1.666;
  --line-height-3: 1.999;
  --line-height-4: 2.333;

  --colour-border-1: #E8E8E8;

  --colour-dark-0: #010001;
  --colour-dark-1: #1E1E1E;
  --colour-dark-2: #2E2E2E;
  --colour-dark-3: #484e4e;

  --colour-mid-1: #8E8E8E;
  --colour-mid-0: #DBD5D5;
  
  --colour-light-1: #FFFFFF;
  --colour-light-2: #F5F4F4;
  --colour-light-3: #E1E1E1;
  

  --colour-accent: #FF1412;

}



/* main parts */
body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  font-family: var(--font-base);
  font-size: var(--unit-3) ;
  line-height: var(--unit-3-2);
  background-color: var(--colour-light-2);
  color: var(--colour-light-3);

}
/* typography */
a{
  color: var(--colour-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* main sections */
header.primary{
  padding: var(--unit-5); 
  padding-left: calc(var(--unit-2) + var(--unit-5)) ;
  display: flex;
  align-items: center;
  gap: var(--unit-3);
}

header.primary a svg path {
  transition: fill 0.2s ease;
   transition: transform 0.4s ease;
   transform-origin: center;
}
header.primary a:hover svg path{
  fill: var(--colour-accent); 
  transform: scaleX(-1);
}
header.primary p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--unit-2-2);
  color: var(--colour-dark-3)
}

main {
  max-width: 120ch;
  margin-left: var(--unit-3);
  margin-right: var(--unit-3);
  padding: var(--unit-4);
  border: 1px solid var(--colour-border-1);
  background-color: var(--colour-light-1); 
  border-radius: var(--unit-2)
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--unit-4);
  background-color: var(--colour-dark-2);
  color: var(--colour-light-3);
  place-items: center;
  align-items: start;
  min-height: 100dvh;
  padding: var(--unit-5);
}

  div.bio{
    grid-row: span 2;
    font-size: var(--unit-4);
    color: var(--colour-light-3);
    font-weight: 600;
    line-height: var(--unit-4);
  }

  div.universe{
    text-align: right
  }
  div.universe h6{
    text-transform: uppercase;
  }
  div.universe ul{
    list-style-type: none;
  }
  div.universe ul a{
    color: var(--colour-mid-1)
  }
  div.universe ul a:hover{
    color: var(--colour-light-1)
  }

div.icon img{
  width: calc(var(--unit-5) * 2);

}

/* post */
article {
 
  margin-left: calc(var(--unit-5) * 2) ;
}
article header h1{
   max-width: 10ch;
  font-size: var(--unit-6);
  color: var(--colour-dark-1);
  text-transform: uppercase;
  font-weight: 900;
  line-height: calc(var(--unit-6) - 9px);
}

article header p{
  font-size: var(--unit-3-1);
  line-height: var(--unit-4);
  font-weight: 600;
  max-width: 41ch;
  letter-spacing: -0.5px;
  color: var(--colour-mid-1);
  padding-left: var(--unit-5);
  margin-left: calc(var(--unit-4) * -1);
  margin-top: var(--unit-5);
  margin-bottom: var(--unit-5);
  border-left: var(--unit-3) solid var(--colour-mid-0);
   transform: rotate(-1deg);
}

article div.post-body{
  max-width: 60ch
}